body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/1.5 "ו","Arial";font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;}
img{border:none;vertical-align:top;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
button,input,select,textarea{font-size:100%;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* link */
a{text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline;}

pre { background:#FFFCE8; padding:5px; margin:0; font-size:13px; color:#333; display: block; overflow: auto; border: 1px solid #eee; word-wrap:break-word; /* Internet Explorer 5.5+ */ }

/**doc*/
table td { padding:5px;}
.doc {width:750px; margin:0 auto;  border:1px solid #999; background:#fff;}
.hd {background:#ECF3FE; padding:15px; margin-bottom:10px;}
.doc h2 {font-size:14px; width:92%; margin:0 auto 10px; color:#666}
.doc .desc { background:#efefef; width:90%; margin:0 auto 20px; padding:10px;}
.demo { background:#fff; padding:10px; margin-bottom:15px;}